.mains{
  background-color: #F9F0D9;
  
.enter{
  margin-top: 150px;
  height: 90x;
  width: 520px;
  margin-left: auto;
  margin-right: auto;
  font-size: 70px;
  text-align: center;
  color: #22C350;
}
.register{
  margin-top: 30px;
}
.register a:hover{
  text-shadow: 2px 2px #000000;
  border: 3px solid blue;
}
.jornal{
  margin-top: 20px;
}
.jornal a:hover{
  text-shadow: 2px 2px #000000;
  border: 3px solid blue;
}
.adddel{
  margin-top: 20px;
  }
.adddel a:hover{
  text-shadow: 2px 2px #000000;
  border:3px solid blue;
}
.customor{
  margin-top: 20px;
}
.customor a:hover{
  text-shadow: 2px 2px #000000;
  border: 3px solid blue;
}
a{
  display: block;
  height: 55px;
  width: 520px;
  margin-left: auto;
  margin-right: auto;
  border: solid 3px black;
  font-size: 50px;
  border-radius: 10px;
  text-align: center;
  display: block;
  color: red;
  text-decoration: none;
  background-color: #EAC247;
}
}
