.searchs{
  background-color: #F9F0D9;

  .name{
    font-size: 50px;
  }
  .tdata{

  }
  .itemprice{
    font-size: 30px;
  }
.tabledata {
  font-size: 20px;
   height: 600px;
  width: 750px;
  overflow-y: scroll;
  background-color: #999999
}
.tabledata td,.infotable td{
  background-color: #eea057;
  height: 15px;
  border: 1px solid black;
}
.infotable .data1{
  width: 352px;
}
.infotable .data2{
  width: 240px;
}
.infotable .data3{
  width: 125px;
}
.tdata .data1{
width: 450px;
}
.tdata .data2{
width: 300px;
}
.data3{
width: 150px;
}
.analysis{
  height: 620px;
  width: 400px;
  background-color: #B8F28C;
  position: absolute;
  left: 780px;
  top: 120px;
  font-size: 25px;
}












h1{
  float: left;
  width: 200px;
  font-size: 40px;
}
.back_bt{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  text-align: center;
  font-size: 40px;
  border: solid 2px;
  border-radius: 5px;
  background-color: #32CCB6;
  box-shadow: 2px 2px black;
  }
  .back_bt:hover{
    box-shadow: 1px 1px black;
  }
  .back_bt a{
    text-decoration: none;
    display: block;
    color: black;
  }
.searchbox{
  margin-top: 20px;
}
.submit{
  display: block;
  float: left;
  margin-top: 10px;
  margin-left: 68px;
  text-align: center;
  width: 75px;
  font-size: 40px;
  margin-bottom: 10px;
}
// .submit:hover{
//   shadow: 1px 1px black;
// }
input{
  height: 35px;
  width: 250px;
}
td{
  font-size: 25px;
  border-top: 1px solid;
  background-color: #eea057;
}
.a{
  width: 200px;
}
.b{
  width: 350px;
}
.c{
  width: 100px;
}
.sbox{
  margin-top: 100px;
  margin-left: 200px;
  float: left;
}
.result{
  background-color: #cccccc;
  border:1px solid #999999;
  margin-left: 300px;
  height: 400px;
  width: 650px;
  overflow: scroll;
}
table{
  float: left;
  margin-top: 0px;
  margin-left:0;
}
}
